<% if users.any? %>
<div class="relationships-list">
    <% users.each do |user| %>
    <div class="user-list">
        <% if  user.image.present? %>
           <p><%= link_to image_tag(user.image.url), user_path(user) if user.image? %></p>
        <% else %>
           <p><%= link_to image_tag(gravatar_url(@user)) %></p>
         <% end %>
         <div class="user-box">
            <h5>ユーザー名</h5>
            <%= link_to user.name, user_path(user)  %>
            <h5>プロフィール名</h5>
            <p><%= user.self_introduction %></p>
          </div>
    </div>
    <% end %>
</div>
<% end %>