 /*--親要素--*/
.flex-container {
	display: flex;
	justify-content: space-around; /*--justify-contentを指定--*/
	
	/*--以下装飾--*/
	background-color: #ffffff;
	border: solid 5px #fb6158;
}

/*--子要素--*/
.flex-item {/*--装飾省略--*/}