<% if posts.any? %>
  <ul class="list-unstyled mt-2">
    <% posts.each do |post| %>
      <li class="d-flex">
        <p><%= image_tag @posts.photo.url if @post.photo? %></p>
        <div>
          <div>
            <p><%= @post.title %></p>
          </div>
          <div>
            <p><%= @post.explanation %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>