// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*--子要素--*/
.flex-item {/*--装飾省略--*/}
.flex-container{
    width: 0px;
    margin-top: 20px;
    margin-left: 120px;
    
    p{
    	margin-bottom: 1%;
        display: block;
        text-align: center;
        width: 50%;
    }
    img{
        margin-bottom: 10px;
	   width: 330px;
       height: 200px;
       }
}

.users{
    width: 0px;
    margin: 10px;
    p{
	    margin-bottom: 1%;
        display: block;
        text-align: center;
        width: 50%;
        margin-left: 150px;
    }
    
    img{
        margin-top: 10px;
    	border-radius: 50%;
        	width: 250px;
    	    height: 250px;
        }
    
}
.item{
        text-align:center;
        margin-top:30px;
        margin-left: 20px;
    }
    
//アプリ概要
.overview{
    h3{
        text-align: center;
    }
    img{
        margin-left: 30px;
        width: 500px;
        height: 250px;
    }
}


@media  (min-width:990px){
    .flex-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-left: 0px;
    
   p{
   	    margin-right: 0.5%;
    	text-align: left;
    	padding: 0 auto;
    }
    img{
    	width: 280px;
    	height: 180px;
    }
    }
    
    .users{
        width: 20%;
        display: flex;
        justify-content: space-around;
        margin-left: 400px;
    p{
    	margin-right: 1%;
    	text-align: left;
    	padding: 0 auto;
    }
    img{
    	border-radius: 50%;
    	width: 250px;
    	height: 250px;
    }
    }
    .item{
    	text-align:left;
    	margin-top:30px;
    	margin-left: 0px;
    	position:relative;
    	right: 60px;
    }
    //アプリ概要
    .overview{
    h3{
        text-align: center;
    }
    img{
        margin-left: 100px;
        width: 1200px;
        height: 400px;
    }
}
}