// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//ユーザーページ
.profile{
        text-align:center;
        img{
            border-radius: 50%;
            width: 250px;
            height:250px;
        }
        a{
                font-size: 20px;
            }
        .profile-intorduction{
            text-align: center;
            width: 500px;
            margin-top:10px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom:180px;
            padding-left: 0px;
            padding-right: 6px;
            border: solid 1px gray;
           word-break : break-all;
            p{
                position: relative;
                bottom: 10px;
                left: 5px;
            }
        }
    }
    
.follow-bar{
        width: 150px;
        height: 20px;
        position:relative;
        left: 220px;
        bottom: 0px;
        margin-bottom: 40px;
    }
    
//プロフィール編集
    .user-image{
        text-align: center;
        img{
            border-radius: 50%;
            width: 300px;
            height: 300px;
            margin-bottom: 20px;
        }
    }
    .select-image{
        text-align: center;
    }
    

//フォロー
    .follow{
      .item{
          text-align: center;
          margin-left: 0px;
          margin-bottom: 20px;
       }
    }
    
    
//フォロワー
    .follower{
      .item{
          text-align: center;
          margin-left: 0px;
          margin-bottom: 20px;
        }
     }
 
//ユーザーリスト  
.user-list{
    width: 520px;
    height: 140px;
    border: solid 1px gray;
    margin-left: 20px;
    margin-bottom: 10px;
    img{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-top: 10px;
        margin-left: 10px
    }
    a{
        background-color: white;
    }
    p{
        width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h5{
        width: 300px;
    }
    .user-box{
        width: 300px;
        position: relative;
        bottom: 130px;
        left: 150px;
    }
}   


//お気に入り
.favorite{
        text-align:center;
        margin-top:2%;
        .item{
        text-align:center;
    margin-bottom: 20px;
        margin-top:30px;
        position:relative;
    	left: 0px;
    }
        
        img{
    	width: 320px;
    	height: 200px;
    }
    }
.my-posts{
        text-align:center;
        margin-top:2%;
        .item{
        margin-left: 20px;
        margin-top:30px;
        }
        img{
    	width: 320px;
    	height: 200px;
    }
    }
.user-posts{
        text-align:center;
        margin-top:2%;
    }
    
    
//お気に入り一覧
.favorite-list{
    .post-box{
            height: 180px;
            border: solid 1px gray;
            margin-bottom: 20px;
            img{
                width: 300px;
                height: 178px;
            }
    }
    .like-post-information{
            width: 100px;
            text-align: left;
            position:relative;
            left: 310px;
            bottom: 190px;
            h5{
                font-size: 15px;
            }
            p{
            font-size: 12px;
            width:230px;
            height: 20px;
            margin-bottom: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            }
            a{
                text-decoration: none;
            }
        }
    img{
            width: 240px;
            height: 180px;
    }
    .user-show-pagy{
            text-align:center;
    }
}

//サインアップのエラーメッセージ
.field_with_errors{
    label{
        color: white;
    }
}
#user_name{
    width: 540px;
}
#user_email{
    width: 540px;
}
#user_password{
    width: 540px;
}
#user_password_confirmation{
    width: 540px;
}
//サインアップボタン
.signup-button{
    width: 540px;
    margin-left: 10px;
}



//PCサイズに変更
@media (min-width:990px){
    //ユーザーページ
    .profile{
        text-align:center;
        img{
            border-radius: 50%;
            width: 250px;
            height:250px;
        }
        a{
                font-size: 15px;
        }
        .profile-intorduction{
            text-align: center;
            width: 660px;
            margin-top:10px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom:100px;
            padding-left: 0px;
            padding-right: 6px;
            border: solid 1px gray;
            word-break : break-all;
            p{
                position: relative;
                bottom: 10px;
                left: 5px;
            }
        }
    }
    .follow-bar{
        width: 150px;
        height: 20px;
        position:relative;
        left: 830px;
        bottom: 60px;
         margin-bottom: 10px;
    }
    
//フォロー
    .follow{
      .item{
          text-align: center;
          margin-left: 120px;
          margin-bottom: 20px;
       }
    }
    
    .nil-following-user{
        margin-top: 20px;
        margin-bottom: 480px;
        p{
            font-size: 20px;
        }
    }
    

//フォロワー
    .follower{
      .item{
          text-align: center;
          margin-left: 120px;
          margin-bottom: 20px;
        }
     }
     
     .nil-followers-user{
        margin-top: 20px;
        margin-bottom: 480px;
        p{
            font-size: 20px;
        }
    }
    

//ユーザーリスト
.user-list{
    width: 900px;
    height: 140px;
    border: solid 1px gray;
    margin-left: 220px;
    margin-bottom: 10px;
    img{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-top: 10px;
        margin-left: 10px
    }
    a{
        background-color: white;
    }
    p{
        width: 720px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h5{
        width: 300px;
    }
    .user-box{
         width: 300px;
        position: relative;
        bottom: 130px;
        left: 150px;
    }
}
    
    
    
    //お気に入り
    .favorite{
        text-align:center;
        margin-top:2%;
        .item{
        text-align:center;
    margin-bottom: 20px;
        margin-top:30px;
    }
    }
    .favorite-posts{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-left: 0px;
    
   p{
   	    margin-right: 0.5%;
    	text-align: left;
    	padding: 0 auto;
    }
    img{
    	width: 280px;
    	height: 180px;
    }
    }
    .my-posts{
         width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 0px;
    .item{
        margin-left: 120px;
        margin-top:30px;
        }
    
   p{
    	text-align: left;
    	padding: 0 auto;
    }
    img{
    	width: 250px;
    	height: 150px;
    }
    }
   .user-posts{
         width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 0px;
    .item{
        text-align:center;
        margin-top:10px;
        position:relative;
    	right: 0px;
    }
    
   p{
    	text-align: left;
    	padding: 0 auto;
    }
    img{
    	width: 250px;
    	height: 180px;
    }
    }
    //プロフィール編集
    .user-image{
        text-align: center;
        img{
            border-radius: 50%;
            width: 300px;
            height: 300px;
            margin-bottom: 20px;
        }
    }
    .select-image{
        text-align: center;
    }
    
    //お気に入り一覧
    .favorite-list{
        .post-box{
            height: 200px;
            border: solid 1px gray;
            margin-bottom: 20px;
            img{
                width: 300px;
                height: 198px;
            }
        }
        .like-post-information{
            width: 400px;
            text-align: left;
            position:relative;
            left: 310px;
            bottom: 210px;
        h5{
                font-size: 18x;
        }
        p{
                font-size: 18px;
                width:920px;
                height: 30px;
                margin-bottom: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        a{
                text-decoration: none;
        }
        }
        
        img{
            width: 300px;
            height: 200px;
        }
        .user-show-pagy{
            text-align:center;
        }
    }
    .nil-like-post{
        margin-top: 20px;
        margin-bottom: 480px;
        p{
            font-size: 20px;
        }
    }
    
//サインアップのエラーメッセージ
.field_with_errors{
    label{
        color: white;
    }
}
#user_name{
    width: 630px;
}
#user_email{
    width: 630px;
}
#user_password{
    width: 630px;
}
#user_password_confirmation{
    width: 630px;
}

//サインアップボタン
.signup-button{
    width: 630px;
    margin-left: 0px;
}

//
.user-show-pagy{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    left: 470px;
}
.logout-user-show-pagy{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    right: 0px;
}
}