<% if model.errors.any? %>
  <div id="post_error_explanation" class="alert alert-warning">
    <div class="new-post">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  </div>
<% end %>