<% if model.errors.any? %>
  <div id="signup_error_explanation" class="alert alert-warning">
    <div class="mb-0">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  </div>
<% end %>